.Login-button {
  color: white;
  display: block;
  font-size: 16px;
  height: 50px;

  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-email {
  background-color: darkgray;
}

.Login-fb {
  background-color: rgb(72, 98, 163);
}

.Login-mm {
  background-color: rgb(255, 125, 0);
}
.all {
  background-color: black;
  height: 100vh;
  margin-top: -3rem;
}

.container {
  font-family: Arial, sans-serif;
}

.header {
  height: 100vh;
  background-image: url('./bg.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-us {
  padding: 50px;
  text-align: center;
  animation: slideUp 2s ease-in-out;
}

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}