@import url('https://fonts.cdnfonts.com/css/lt-neo-rounded');
.Login-button {

  display: flex;
  font-size: 16px;
flex-direction: row;
justify-content: center;
align-items: center;
width: 8rem;
margin: 0 auto ;
margin: 1rem 1rem 0 0 ;
border: none;

  position: absolute;
  top: 0;
  right: 0;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-email {
  background-color: darkgray;

}

.Login-fb {
  background-color: rgb(72, 98, 163);
}
.fox {
height: 30px;
  width: auto;
  margin-left: -1rem;
margin-bottom: 0rem;
}
.Login-mm{
  background-color: rgb(128, 128, 128);
  border: 1px solid rgb(166, 255, 0);
  border-radius: 6px;
  transition: all .5s ease-in;
}
.Login-mm:hover {
background-color: rgb(166, 255, 0);





}
.all {
  background-color: black;
  height: 100vh;
  margin-top: -3rem;
}

.container {
  font-family: 'LT Neo Rounded', sans-serif;
                                                
}

.header {
  height: 120vh;
  background-image: url('./bg.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  margin-top:-100px !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s ;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'LT Neo Rounded', sans-serif;
                                                
}

.about-us {
  padding: 50px;
  text-align: center;
  animation: slideUp 2s ease-in-out;
}

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}