.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000000;
  height: 50px;
  
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin-top: 30px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dashboard {
  font-family: Arial, sans-serif;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.parameter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.parameter label,
.parameter span {
  transition: transform 0.3s, color 0.3s;
}

.parameter:hover label,
.parameter:hover span {
  transform: scale(1.05);
  color: #007bff;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.action-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}